frontend frontend_server
	bind :80
	mode http
	default_backend backend_server

backend backend_server
	mode http
	server server0 backend:3000 resolvers docker

resolvers docker
   nameserver ns1 127.0.0.11:53
